<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">

	<select id="search" resultType="NoticeDto">
		select * from notice where
		instr(${column}, #{keyword}) > 0
	</select>

	<!-- 조건을 이용하여 list와 search 합체 -->
	<select id="listSearch" resultType="NoticeDto">
		select * from notice
		<if test="column != null and keyword != null">
			where instr(${column}, #{keyword}) > 0
		</if>
	</select>

	<!-- 등록(관리자만) -->
	<select id="sequence" resultType="int">
		select notice_seq.nextval from
		dual
	</select>
	<insert id="insert">
		insert into notice(
		notice_no, notice_type, notice_writer,notice_title, notice_content
		) values(
		#{noticeNo}, #{noticeType}, #{noticeWriter}, #{noticeTitle}, #{noticeContent}
		)
	</insert>

	<!-- 목록 -->
	<select id="list" resultType="NoticeDto">
		select * from notice order by
		notice_no asc
	</select>


	<!-- 상세 -->
	<select id="detail" resultType="NoticeDto">
		select * from notice where
		notice_no = #{noticeNo}
	</select>

	<!-- 수정(관리자만) -->
	<update id="edit">
		update notice
		set notice_type = #{noticeType},
		notice_title = #{noticeTitle},
		notice_content = #{noticeContent},
		notice_utime = sysdate
		where notice_no = #{noticeNo}
	</update>

	<!-- 삭제 -->
	<delete id="delete">
		delete notice where notice_no = #{noticeNo}
	</delete>

	<!-- 검색 -->
	<select id="listByPaging" resultType="NoticeDto">
	<include refid="top-n-header"></include>
		select * from notice
		<if test="column != null and keyword != null">
			where instr(${column), #{keyword}) > 0
		</if>
		order by
		<if test="column != null and keyword != null">
			#{column} asc,
		</if>
		notice_no desc
	<include refid="top-n-footer"></include>
	</select>


	<!-- 공지사항 목록 카운트 -->
	<select id="count" resultType="int">
		select count(*) from notice
		<if test="column != null and keyword != null">
			where instr(${column}, #{keyword}) > 0
		</if>
		order by
		<if test="column != null and keyword != null">
			${column} asc,
		</if>
		notice_no desc
	</select>

	<!-- 자주 사용하는(ex : Top N Query (페이징)) 구문들을 보관해두고서 불러서 사용 - 구문의 조각은 <sql> 
		태그로 작성 - 이 구문을 불러올 때는 <include>로 작성 - beginRow와 endRow가 있을 때만 구동되도록 설정 : 
		유연하게 처리 -->
	<sql id="top-n-header">
		<if test="beginRow != null and endRow != null">
			select * from (
			select rownum rn, TMP.* from (
		</if>
	</sql>
	<sql id="top-n-footer">
		<if test="beginRow != null and endRow != null">
			) TMP
			) where rn between #{beginRow} and #{endRow}
		</if>
	</sql>

</mapper>