<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="reply">
	<!-- 등록 -->
	<select id="sequence" resultType="int">
		select reply_seq.nextval from dual
	</select>
	<insert id="insert">
		insert into reply(
		reply_no, reply_writer, reply_qna, reply_content 
		)values(
		#{replyNo}, #{replyWriter}, #{replyQna}, #{replyContent})
	</insert>
	
	<!-- 목록 -->
	<select id="list" resultType="ReplyDto">
	    select * from reply where reply_qna = #{replyQna}
	    order by reply_no asc
	</select>
	
	<!-- 수정 -->
	<update id="edit">
		update reply
		set reply_content = #{replyContent},
		reply_utime = sysdate
		where reply_no = #{replyNo}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete from reply where reply_no = #{replyNo}
	</delete>
	
</mapper>